@font-face {
    font-family: 'BubbleBoddyRegular';
    src: url('/public/fonts/bubbleboddyneue-regular-trial.ttf');
}
@font-face {
    font-family: 'Comfortaa' ;
    src: url('/public/fonts/Comfortaa-Regular.ttf');
}

h1 {
    font-family: 'BubbleBoddyRegular';
}
p {
    font-family: 'Comfortaa';
}

.about {
    background-color: #FDD90B;
}
.about p , h2 {
    margin-left: 20px;
    margin-top: 0px;
}