<section>

    <div class="container">

        <h1>Contactez-nous !</h1>

        <form>

            <div class="form">

                <label for="name">Nom</label><br>

                <input type="text" name="name" id="name" 
placeholder="Votre nom" required>

            </div>

            <div>

                <label for="object">Sujet</label><br>

                <input type="text" name="sujet" id="object" 
placeholder="Le sujet de votre message" required>

            </div>

            <div>

                <label for="message">Message</label><br>

                <textarea id="message" name="message" rows="5"
cols="33" placeholder="Votre message" required>

                </textarea>

            </div>

            <input type="button" class="button" value="Envoyer">

        </form>

    </div>

</section>

