
<div>

    <section class="container  d-flex justify-content-center">

        <div *ngIf="figurine mx-auto">

            <h1>{{figurine.name}}</h1>
            <div class="fiche">
                    <img [src]="figurine.image" alt="img" >
                    <div id="fiche">
                        <p>{{figurine.description}}</p>
                        
                    </div>
                    
            </div>
            <p style="text-align: center;">Prix : {{figurine.prix}}</p>
        </div>

    </section>

</div>

